#newImages {
    height : 300px;
    position : relative;
    max-width : 100%;
}
img.masked {
    position : absolute;
    background-color : #fff;
    border : 1px solid #babbbd;
    padding :10px;
    box-shadow :1px 1px 1px #babbbd;
    margin : 10px auto 0;
}
#player {
    width : 320px;
    height : 240px;
    margin :10px auto;
}
canvas{
    width : 320px;
    height : 240px;
    margin : 10px auto;
}
#capture-btn{
    width : 130px;
    margin : 0 auto;
}
#pick-image{
    display : none;
}